.ReactModal__Overlay {
  height: 650px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.pagar {
  position: absolute;
}
.form {
  margin: auto;
  padding-left: 25px;
}

.form ul li {
  list-style: none;
}

.form h3 {
  text-align: center;
}
.form p {
  text-align: center;
}

.form h6 {
  color: black;
  font-size: 15px;
  margin-bottom: 5px;
}

.form input {
  width: 300px;
  height: 30px;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  border-style: none;
  padding-left: 20px;
}
.btn-signupfa {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  background-color: crimson;
  font-weight: bold;
  color: white;
  border-color: whitesmoke;
  box-shadow: whitesmoke;
  cursor: pointer;
}
.btn-signinfa {
  border-style: none;
  color: crimson;
  font-size: 17px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}
.btn-signinfa:hover {
  color:crimson;
}

.btn-signinfb {
  margin-top: 50px;
  width: 320px;
  height: 40px;
  border-radius: 5px;
  background-color: crimson;
  font-weight: bold;
  color: white;
  border-color: whitesmoke;
  box-shadow: whitesmoke;
  cursor: pointer;
  font-size: 20px;
}
