.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: white;
    width: 100vw;
    margin-bottom: 6px;
}
.header__brand {
    grid-column: 2/5;
    margin-bottom: -2.5vh;
    margin-top: -2.5vh;
}
.header__container {
    display: flex;
    cursor: pointer;
    margin-top: 20px;
}
.header__container > h4 {
    font-size: 3.5vh;
    margin-left: 1vw;
    margin-top: 15px;
    color: #fe024e;
}
.header__search {
    grid-column: 5/10;
}
.header__search__input {
    height: 4vh;
    width: 35vw;
    margin-top: 2.5vh;
    padding-left: 0.7vw;
}
.user__btn {
    border: none;
    font-size: 2.5vh;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: white;
    margin-top: 3vh;
    margin-left: 6vh;
}